<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODOLIST</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container"></div>
        <div id="newtask">
            <input type="text" placeholder="Task to be done...">
            <button id="push"> Submit </button>
        </div>
        <div id="tasks">

        </div>

        <script type="text/javascript">
            document.querySelector('#push').onclick = function(){
                if (document.querySelector('#newtask input').value.length == 0){
                    alert("Enter Task !!")
                }else {
                    document.querySelector('#tasks').innerHTML += `
            <div class="task">
                <span id="taskname">
                    ${document.querySelector('#newtask input').value}
                </span>
                <button class="delete">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        `;
                    

                }
            }
        </script>
    
    </body>
</html>